{% extends 'rango/base.html' %}

{% block body_block %}
  <div class="page-header"><h1>Login to Rango</h1></div>
  <link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">

  <form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %}

    <h2 class="form-signin-heading">Please sign in</h2>
    <input type=text required autofocus="" class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username">
    <input type="password" required class="form-control" placeholder="Password" id="id_password" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
  </form>
{% endblock %}
